@font-face {
  font-family: "Sofia Sans";
  src:
    url("fonts/sofiasans-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("fonts/sofiasans-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("fonts/UbuntuMono-Regular.ttf"), url("fonts/UbuntuMono-Italic.ttf"), url("fonts/UbuntuMono-Bold.ttf"), url("fonts/UbuntuMono-BoldItalic.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
  font-size: 17px;
  background-color: #25222a;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  font-family: "Sofia Sans", Arial, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  line-height: 1.35rem;
  color: #ffffff;
}

.wrap {
  padding: 1.5rem 2.75rem 0.5rem 2.75rem;
  background-color: #282828;
  border-left: 4px solid #bb8aff;
  border-right: 4px solid #bb8aff;
  overflow: hidden;
  max-width: 72ch;
  inset: 1px;
  position: relative;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 1.25rem;
}

ul.nav li.nav {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li.nav-item:before {
  content: "//";
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* li.nav-item-current { */
  /* font-style: italic; */
/* } */

a {
  color: #bb8aff;
  font-weight: 700;
  text-decoration: inherit;
}

a:hover {
  text-decoration-line: underline;
}

img {
  max-width: 100%;
}

code {
  font-family: "Ubuntu Mono";
  background-color: #45414a;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin: 0;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.25rem;
}
